* {
  text-decoration: none;
  box-sizing: border-box;
}

/* header nav bar */

.header {
  border-bottom: 1px solid #EBE8F4;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  color: #22202E;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  margin-top: 25px;
  margin-left: 80px;
  margin-bottom: 26px;
}

.nav-menu {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  margin-left: 149px;
}

.nav-menu li {
  margin-right: 44px;
}

.nav-btn {
  color: #726E8D;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 80px;
}

.search {
  background-image: url(/img/Search.png);
  color: #2A254B;
  width: 16px;
  height: 16px;
}

.cart {
  background-image: url(/img/Shopping--cart.png);
  color: #2A254B;
  margin-left: 20px;
  width: 16px;
  height: 16px;
}

.cabinet {
  background-image: url(/img/cabinet.png);
  color: #2A254B;
  margin-left: 20px;
  width: 16px;
  height: 16px;
}

/* main view all product */

.vap {
  color: var(--Dark-Primary, #2A254B);
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 80px;
}

.filters {
  display: flex;
  padding-left: 104px;
}

.btn-filters,
.btn-filters-1 {
  color: #2A254B;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  margin-top: 13px;
  border: none;
  padding: 12px 24px 12px 24px;
}

.btn-filters {
  margin-right: 19px;
}

.btn-filters-1 {
  margin-right: 104px;
}

.btn-right {
  appearance: none;
  background-image: url(/img/Button-Small.png);
  background-repeat: no-repeat;
  background-position: right center;
}

.filters-2 {
  display: flex;
  margin-left: auto;
}

.sorting {
  margin-right: 0;
  margin-top: 29px;
  color: var(--Dark-Primary, #2A254B);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
}

/* product */

.furniture {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  margin: 28px 80px 48px 80px;
  place-items: center;

  text-align: left;
}

.chair,
.vase,
.silky-vase,
.lamp {
  display: grid;
  grid-template-rows: auto auto;
  grid-gap: 24px;
  color: var(--Dark-Primary, #2A254B);
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
}

/* main button */

.view-collection {
  display: flex;
  justify-content: center;
}

.main-btn {
  display: inline-flex;
  color: #2A254B;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  background-color: #F9F9F9;
  padding: 16px 32px;
  gap: 10px;
  margin-bottom: 40px;
}

/* main botom */

.main-botom {
  background-image: url(/img/sofa.png);
  width: 720px;
  height: 521px;
  background-repeat: no-repeat;
  display: flex;
  align-items: start;
}

.title {
  position: relative;
  top: 71px;
  left: 769px;
  color: var(--Dark-Primary, #2A254B);
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 400;
}

.text {
  width: 470px;
  position: relative;
  top: 131px;
  left: 769px;
  color: var(--Dark-Primary, #2A254B);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
}

.sign-btn {
  background-color: #2A254B;
  color: var(--White, #FFF);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  padding: 16px 32px;
  position: relative;
  top: 395px;
  right: 176px;
  bottom: 70px;
  left: 792px;
}

/* footer */

.footer {
  background: var(--Dark-Primary, #2A254B);
  width: auto;
  height: 380px;
  padding-left: 82px;
}

.footer-nav {
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
}

.info {
  color: var(--White, #FFF);
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}

.menu,
.categories,
.our-company {
  padding-top: 58px;
}

.menu ul li,
.categories ul li,
.our-company ul li {
  margin-bottom: 12px;
}

.footer-btn {
  color: var(--White, #FFF);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
}

.image-map {
  margin-top: 60px;
  margin-left: auto;
  margin-right: 78px;
}

/* social */

.footer-bottom {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin: 61px 77px 0px 0px;
  border-top: 1px solid #4E4D93;
}

.footer-left {
  order: 1;
}

.footer-right {
  order: 2;
}

.copyright {
  color: var(--White, #FFF);
  font-family: Open Sans;
  font-size: 14px;
  font-weight: 400;
  display: flex;
}

.footer-socials {
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.footer-link {
  padding-top: 24px;
}

.social {
  display: flex;
  align-items: center;
}